<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="sudoku.css">
	</head>
	<body>
		<h1>SUDOKU</h1>
		<div class="contenedor">
			<div class="num-horizontal">
				<span>&nbsp;</span>
				<span>1</span>
				<span>2</span>
				<span>3</span>
			</div>
			<div class="num-vertical">
				<span>1</span>
				<span>2</span>
				<span>3</span>
			</div>
			<form method="POST" action="/sudoku">
				<section>
					<article>
						<input type="text" name="cells[0][0]" value="<%= @cells["0"]["0"] %>">
					</article>
					<article>
						<input type="text" name="cells[0][1]" value="<%= @cells["0"]["1"] %>">
					</article>
					<article>
						<input type="text" name="cells[0][2]" value="<%= @cells["0"]["2"] %>">
					</article>
				</section>
				<section>
					<article>
						<input type="text" name="cells[1][0]" value="<%= @cells["1"]["0"] %>">
					</article>
					<article>
						<input type="text" name="cells[1][1]" value="<%= @cells["1"]["1"] %>">
					</article>
					<article>
						<input type="text" name="cells[1][2]" value="<%= @cells["1"]["2"] %>">
					</article>
				</section>
				<section>
					<article>
						<input type="text" name="cells[2][0]" value="<%= @cells["2"]["0"] %>">
					</article>
					<article>
						<input type="text" name="cells[2][1]" value="<%= @cells["2"]["1"] %>">
					</article>
					<article>
						<input type="text" name="cells[2][2]" value="<%= @cells["2"]["2"] %>">
					</article>
				</section>
				<input type="submit" class="jugar" value="Jugar">
			</form>
		</div>
		<div class="mensaje">
        <% if @validacion != nil %>
            <% if @validacion.length == 0 %>
                <% @validacion << "Ganaste!" %>
            <% end %>
		<% for @mensaje in @validacion %>
		    <p><%= @mensaje %></p>
		<% end %>
        <% end %>
		</div>
	</body>
</html>
